<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Git Статистика</title>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- Google chart: https://developers.google.com/chart/interactive/docs/quick_start -->
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
  </head>

  <body>
    <!-- Vue App -->
    <div id="app" class="container">
      <br />
      <div class="d-flex flex-row justify-content-between">
        <h3 style="font-weight: bold">GIT СТАТИСТИКА</h3>
        <div class="d-flex flex-row" style="padding-top: 10px">
          <!-- justify-content-between -->
          <p style="margin-right: 10px">Количество строк:</p>
          <p style="margin-right: 10px; font-weight: bold" v-html="line"></p>
          <p style="margin-right: 10px">Количество коммитов:</p>
          <p style="margin-right: 10px; font-weight: bold" v-html="commit"></p>
          <p style="margin-right: 10px">Количество дней:</p>
          <p
            style="margin-right: 10px; font-weight: bold"
            v-html="lineChanges"
          ></p>
          <p style="margin-right: 10px">Строк/день:</p>
          <p
            style="font-weight: bold"
            v-html="lineChanges > 0 ? Math.round(line/lineChanges) : 0"
          ></p>
        </div>
      </div>
      <br />
      <div class="d-flex flex-row justify-content-between">
        <div style="flex: 1; margin: 10px">
          <p>Путь к проекту:</p>
          <input
            class="form-control"
            style="padding: 10"
            @input="inputMy"
            v-model="path"
          />
        </div>
        <div style="flex: 0.5; margin: 10px">
          <p>Скользящая средняя (0 - отключить):</p>
          <input
            class="form-control"
            style="padding: 10"
            @input="update"
            v-model="size"
            type="number"
          />
        </div>
        <button type="button" class="btn btn-primary" @click="update">
          Обновить
        </button>
      </div>

      <!-- Google chart: https://developers.google.com/chart/interactive/docs/quick_start -->
      <div class="d-flex justify-content-center">
        <div id="chart_div" style="width: 100%; height: 800px"></div>
      </div>
      <div class="d-flex justify-content-center">
        <div id="dual_x_div" v-bind:style="dual_x_div_style"></div>
      </div>
      <br />
    </div>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </body>
</html>
